@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #f1f1f1;
    --secondary: rgba(31, 209, 253, 0.4);
    --tertiary: rgba(31, 209, 253, 0.6);
}

.anim-char,
.anim-para-char {
    backface-visibility: hidden;
}
